<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "bar.jpg" %>)">
  <div class="banner-content">
    <h1>MISTER COCKTAIL</h1>
    <p>Make your own very cocktails</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center header">LIST OF ALL OUR COCKTAILS!</h1>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <% if cocktail.photo_url.nil? %>
            <% image = image_path('drink-image.png') %>
          <% else %>
            <% image = cl_image_path(cocktail.photo) %>
          <% end %>
          <div class="card-body" style="background-image: url(<%= image %>)">
            <span class="card-title"><%= cocktail.name %></span>
            <div class="card-description">
              <h2><%= link_to 'Show', cocktail %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="footer"><%= link_to 'New cocktail', new_cocktail_path %></div>
  </div>
</div>


