<div class="container" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "bar.jpg" %>)">
  <section id="content">
    <div class="drink-header"><h1>The <%= @cocktail.name.upcase %></h1></div>
    <div class="main">
      <% if @cocktail.photo_url.nil? %>
        <% image = image_path('drink-image.png') %>
      <% else %>
        <% image = cl_image_path(@cocktail.photo) %>
      <% end %>
      <div class="image-container" style="background-image: url(<%= image %>)"></div>
      <div class="text-container">
        <div class="drink-info">
          <% @cocktail.doses.each do |dose| %>
              <li class="ingredients-list"><strong><%= dose.description %> of <%= dose.ingredient.name %></strong></li>
              <%= link_to 'Delete dose', dose_path(id: dose, cocktail_id: @cocktail), method: :delete %>
            <% end %>
            <p>
              <strong>Total number of ingredients:</strong>
              <%= @cocktail.ingredients.count %>
            </p>
        </div>
      </div>
    </div>
  </section>
  <div class="footer">
    <%= link_to "Add Dose ", new_cocktail_dose_path(@cocktail) %> |
    <%= link_to ' Edit ', edit_cocktail_path(@cocktail) %> |
    <%= link_to ' Back', cocktails_path %>
  </div>
</div>
