<div class="doses-main" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "bar.jpg" %>)";>
  <div class="row">
    <h1 class="header-content">ADD YOUR OWN DOSES AND INGREDIENTS</h1>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
         <div class="col-xs-6 form">
           <p>Description</p>
           <%= f.input :description, label: false, class: 'form-group' %>
           <p>Ingredient</p>
           <%= f.association :ingredient, label: false %>
           <%= f.submit "create your new dose", class: 'btn btn-primary' %>
         </div>
       <% end %>
    </div>
  </div>
</div>

